body {
  font-family: verdana;
  background-color: black;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

a {
  color: Aquamarine;
  font-size: 16px;
}

h3 {
  color: gray;
  font-weight: normal;
}

.h2fontstyle {
  color: white;
  font-size: 42px;
  font-weight: 300;
}

.align {
  text-align: center;
}

.leftalign {
  text-align: right;
}
